
#androidRow{
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 40vh;
}

.card{
  background-color: rgb(35, 35, 37);
  color: white;
  border-radius: 7%;
  width: 88%;
  height: auto;
  display: flex;
  margin: auto;
  transition: transform .2s;

}

.card:hover {
  transform: scale(1.1) /* 150% zoom*/

}

#cardAndroidImg{
  height: 35vh;
}

#regulaerCardImg {
  height: 200px;
}

.card-footer{
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  
}




/* Phone settigns*/
@media (max-width: 450px) {


  .card{
    background-color: rgb(35, 35, 37);
    color: white;
    border-radius: 7%;
    width: 90%;
    height: auto;
    margin: auto;
    
  }

  #cardAndroidImg{
    height: 35vh;

    justify-items: center;
  }

  #regulaerCardImg {
    height: 200px;
  }

  .card-body {
    display: grid;
    text-align: center;
  }

  #androidImgContainer{
    display: flex;

    justify-content: center;
    align-items: center;
  }

}
