
.section {
    display: flex;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#menuBar {
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
    padding-bottom: 1vh;
}

@media (max-width: 450px) {
    #menuBar {
        display: flex;
        justify-content: flex-end;
        margin-top: 1vh;
        padding-bottom: 1vh;
    }

    .burgerContainer {
        display: flex;
        position: relative;
        top: 2vh;
        right: 4vh;
        width: 40vh;
        height: 40vh;
        background:black;
    
        box-shadow: 
                    0 0 5px white,
                    0 0 5px white,
                    0 0 5px white,
                    0 0 5px white;
        border-radius: 20%;
        cursor: pointer;
    
    }
    
    .burgerIcon {
        display: flex;
        position: relative;
        width: 50px;
        height: 40px;
        margin: auto;
        align-items: center;
        transform: rotate(0);
        transition: 1s;
    }
    
    .burgerIcon.active {
        display: flex;
        position: relative;
        width: 50px;
        height: 40px;
        margin: auto;
        align-items: center;
        transform: rotate(0);
        transition: 1s;
    }

    
}





@keyframes slideDown {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

/* #menuBar.initial {
    animation: slideDown 1s ease forwards;
} */

