
.section {
    display: flex;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#menuBar {
    margin-top: 1vh;
    padding-bottom: 1vh;
    align-content: center;
}

@keyframes slideDown {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

/* #menuBar.initial {
    animation: slideDown 1s ease forwards;
} */

