
.section {
    display: flex;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#menuBar {
    margin-top: 1vh;
    padding-bottom: 1vh;
    align-content: center;
}