#cardContainer{
    max-height: 70vh;
    overflow: auto;
    -ms-overflow-style: none; /* Microsoft */
    scrollbar-width: none; /* FireFox */
    margin-top: 4vh;
}


.container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  