#cardContainer{
    position: relative;
    max-height: 70vh;
    overflow: auto;
    -ms-overflow-style: none; /* Microsoft */
    scrollbar-width: none; /* FireFox */
    max-width: 90%;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 40px;
}


.cardContainer::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
  
#cardProgressContainer {
    max-width: 90%;
}


.android-card {
    height: 300px; /* Or whatever height you want */
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 0; /* If you want the card corners to be exactly like the image */
    padding: 0;
    color: #fff; 
}

.android-card .card-img-overlay {
    background: rgba(0, 0, 0, 0.5); /* Optional: darkens the image a bit for better text visibility */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: inherit;
}


.col {
    padding-bottom: 30px;
}


@media (min-width: 1550px) {
    .row-cols-1550px-4 > .col {
        flex: 0 0 auto;
        width: 25%;
    }
}