
/* .contactPage{

    min-height: 100vh;
} */
/* .contactTitle {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4em;
    padding-bottom: 3vh;
}

form{
    display: flex;
    justify-content: center;

} */

::placeholder { /* Chrome, Firefox, Opera, Safari */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer (If someone use it we have a problem) */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.form-dotted-button {
    border-radius: 1.25rem; /* Makes the corners of the button rounded */
    border: 2px dashed black; /* Sets the button's border to be 2 pixels thick, dashed, and black */
    background-color: rgba(255, 255, 255, 0.9); /* Sets the background color of the button to white */
    padding: 0.75rem 1.5rem; /* Adds space inside the button; 0.75rem top and bottom, 1.5rem left and right */
    font-weight: 600; /* Makes the text semi-bold */
    text-transform: uppercase; /* Transforms the button text to uppercase for visual emphasis */
    color: black; /* Sets the text color to black */
    transition: all 0.3s; /* Smooth transition for all changes over 0.3 seconds, enhancing interactive effects */
}
  
.form-dotted-button:hover {
    transform: translateX(-4px) translateY(-4px); /* Moves the button up and to the left by 4px when hovered */
    border-radius: 0.375rem; /* Changes the button's corner rounding to be less rounded when hovered */
    box-shadow: 4px 4px 0px black; /* Creates a shadow effect to the bottom right, making it appear elevated when hovered */
}

.form-dotted-button:active {
    transform: translateX(0) translateY(0); /* Resets button position to its original state when clicked */
    border-radius: 1.25rem; /* Resets the button's corner rounding to its original rounded state when clicked */
    box-shadow: none; /* Removes the shadow effect, making the button appear as if it is pressed down when clicked */
}

/* Items in the form */
.form-dotted-item {
    border-radius: 0.375rem;
    border: 2px dashed white; /* Sets the button's border to be 2 pixels thick, dashed, and black */
    background-color: rgb(35, 35, 37, 0.5); /* Sets the background color of the field to the theme color */
    font-weight: 600; /* Makes the text semi-bold */
    color: white; /* Sets the text color to black */
    transition: all 0.4s; /* Smooth transition for all changes over 0.3 seconds, enhancing interactive effects */   
}

.form-dotted-item:hover {
    transform: translateX(-4px) translateY(-4px); /* Moves the button up and to the left by 4px when hovered */
    border-radius: 1.25rem; /* Makes the corners of the button rounded */
    border:2px dotted white;
}

.form-dotted-item:focus {
    border:2px solid white;
    outline: none; /* Removes the default browser outline to use the custom border style only */
    border-radius: 1.25rem; /* Makes the corners of the button rounded */
}

#myMailBoxIcon {
    height: 60px;
    width: 60px;
}

#myPhoneIcon{
    height: 60px;
    width: 60px;
}

#phoneContainer, #mailContainer{
    background-color: rgba(14, 165, 233);
}

.messageSubmitSuccess {
    font-size: 1.5em;
    color: rgb(1, 204, 255);
}


@media (max-width:450px) {
    .messageSubmitSuccess {
        font-size: 1em;
        color: rgb(1, 204, 255);
    }
}
