#homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0px;
    z-index: 1;
}

#textPicRow {
    min-width: 90vw;
}

#textContainer {
    color: whitesmoke;
    display: flex;
    align-items: flex-start; /* Position the text start from top to bottom*/
    text-align: left;
    /* height: 80%; */
    min-height: fit-content;
    padding-top: 40px;
}

#imageIconsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 50px;
}

.empty {
    display: none;
}

.typingContainer {
    margin-bottom: 5px;
}

.title {
    font-size: 1em;
}

.myName {
    font-size: 4em;
}

.aboutMeMSG {
    font-size: 2em;
    margin-bottom: 10px;
}

.information {
    font-size: 1em;
}


/* Phone settings*/
@media (max-width: 1200px) {
    #homeContainer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 100vh;
        padding-top: 20vh;
        z-index: 1;
    }

    #textPicRow {
        min-width: 90vw;
    }

    #textContainer {
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: fit-content;
        padding-top: 0px;
    }

    #imageIconsContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .empty {
        display: none;
    }

    .typingContainer {
        margin-bottom: 5px;
    }

    .title {
        font-size: 1em;
    }

    .myName {
        font-size: 4em;

    }

    .aboutMeMSG {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .information {
        font-size: 1em;
    }
}


/* Phone settings*/
@media (max-width: 450px) {
    #homeContainer {
        padding-top: 15vh;
    }

    #textPicRow {
        position: relative;
        display: flex;
        height: 70vh;
    }

    #menuBar {
        margin-top: 1vh;
        padding-bottom: 5vh;
        align-content: center;
        padding-right: 5.6vh;
        padding-left: 5vh;
        z-index: 5;
    }

    #textContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: whitesmoke;
        min-height: fit-content;
        margin-bottom: 20vh;
    }

    .profilePic {
        height: 20vh;
        width: 20vh;
        object-fit: cover;
        border-radius: 100%;
        border-color: black;
    }

    #imageIconsContainer {
        position: relative;
        display: flex;
        align-items: center; /* Control vertical position*/
        /* padding-right: 4%; */
        padding: 0;
        margin: 0;
        padding-bottom: 0px;
    }

    .title {
        font-size: 1em;
    }

    .myName {
        font-size: 3em;
        font-weight: bold;
    }

    .aboutMeMSG {
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    .information {
        font-size: 1em;
    }
}
