.cardIconsSkillContainer .ci {
    margin: 0px 4px; /* Space between right and left side of the icons*/
    cursor: auto; /* those icons can't be pressed so we keep the same cursor. */
    width: fit-content; /* Take all the space in the bottom the card (in the footer) */
}

#imgIconProjects { /* Make the imgs we used as icons to be in the same line as the icons. */
    display: inline;
    vertical-align: top; 
}