


.animationCard{
    transform-style: preserve-3d; /*  style={{transformStyle: "preserve-3d"}} */
    position: relative; /* relative */
    height: 384px; /* h-96 * 4 */
    width: 288px; /* w-72 * 4 */
    border-radius: 0.75rem /* 12px = rounded-xl */;
    background: linear-gradient(to br, from-indigo-300, to to-violet-300) /*bg-gradient-to-br from-indigo-300 to-violet-300*/
}


.cardContent{
    transform: translateZ(75px);
    transform-style: preserve-3d;
    position: absolute;
    inset: 16px; /*inset-4 * 4*/
    place-content: center;
    border-radius: 0.75rem; /*  rounded-xl */
    background: white; /* bg-white */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* shadow-lg */

    

}

.icon {
    transform: translateZ(75px);
    text-align: center;
    margin-left: auto; /* mx-auto */
    margin-right: auto; /* mx-auto */
    font-size: 2.25rem; /*text-4xl 36px */
    line-height: 2.5rem; /* text-4xl 40px */
}

.cardContent p {
    transform: translateZ(50px);
    text-align: center; /* text-center  */
    font-size: 1.5rem/* text-2xl */;
    line-height: 2rem/* text-2xl */;
    font-weight: bold;/* font-bold */
}