

/* .linkIconsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
} */

#githubIconLinkAndroid{
    position: absolute;
    opacity: 0;
    z-index: 1;
}

#githubIconLink{
    position: absolute;
    opacity: 0;
    z-index: 1;
  }
  
#gitLinkMessageUnavailable{
    position: absolute;
    
}