.profilePic {
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
    border-color: black;
}

.profilePic:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.profilePicPulse {
    animation : pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
        transform : scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform : scale(1);
    }
}

@media (max-width: 1200px) {
    .profilePic {
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
        border-color: black;
    }
}