.offcanvas-header {
    margin: auto; /* Center the container of the buttons in the header*/
}

#offcanvasTop {
    height: 12vh; /* The size of the offcanvas opened from the top of the screen */
}

#menuItemsDesk{
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
