.burgerIcon {
    position: relative;
    width: 3rem;
    height: 3rem;
}

.burgerIcon span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(45deg, rgb(140, 140, 140), gray);
    border-radius: 10px;
    box-shadow: 0 0 3px white, 0 0 8px white;
    transition: 0.3s ease-in-out;
}

/* Top bar */
.burgerIcon span:nth-child(1) {
    top: 0;
}

/* Middle bar */
.burgerIcon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

/* Bottom bar */
.burgerIcon span:nth-child(3) {
    bottom: 0;
}

/* Transform into X */
.burgerContainer.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.burgerContainer.active span:nth-child(2) {
    opacity: 0;
}

.burgerContainer.active span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

/* Phone Settings */
@media (max-width: 850px) {
    .burgerContainer {
        display: flex;
        position: relative;
        top: 0;
        right: 0;
        width: 5vh;
        height: 5vh;
        background: none;
        box-shadow: none;
        border-radius: 20%;
        cursor: pointer;
        z-index: 2000;
    }

    .burgerIcon {
        position: relative;
        width: 35px;
        height: 35px;
        margin: auto;
    }

    .burgerIcon span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.6vh;
        background: linear-gradient(45deg, rgb(140, 140, 140), gray);
        border: 0.3px solid white;
        border-radius: 10px;
        box-shadow:
                0 0 2px white,
                0 0 6px white;
        transition: 0.3s ease-in-out;
    }

    /* Top bar */
    .burgerIcon span:nth-child(1) {
        top: 0;
    }

    /* Middle bar */
    .burgerIcon span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    /* Bottom bar */
    .burgerIcon span:nth-child(3) {
        bottom: 0;
    }

    /* Active State – turns bars into X */
    .burgerContainer.active span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .burgerContainer.active span:nth-child(2) {
        opacity: 0;
    }

    .burgerContainer.active span:nth-child(3) {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .navbar-toggler {
        border: none;
    }
}
