
#androidRow{
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 40vh;
}

.card{
  background-color: var(--darkTheme-color);
  color: white;
  border-radius: 7%;
  width: 330px;
  display: flex;
  margin: auto;
  transition: transform .2s;

}

.card:hover {
  transform: scale(1.1) /* 110% zoom*/
}

.card:hover #regulaerCardImg{ /* When the user hover the card we make the image darker and show github link for the project */
  opacity: 0;
}

.card:hover #androidCard {
  opacity: 0;
}

.card:hover #githubIconLink{
  opacity: 1;
  z-index: 40;
  border: 40px var(--darkTheme-color);

}

.card:hover #githubIconLinkAndroid{
  opacity: 1;
  z-index: 40;
  border: 40px var(--darkTheme-color);
}

/* .card:hover #demoIconLink {
  opacity: 1;
  z-index: 50;
  border: 40px rgb(35, 35, 37);

} */


#githubIconLink:hover{
  transform: scale(1.3);
  opacity: 1;
}

#githubIconLinkAndroid:hover {
  transform: scale(1.3);
  opacity: 1;
}


#demoIconLink {
  /* background-image: url('./GithubLinkProject/fall.JPG'); */
  width: 32px;
  height: 32px;
  /* display: inline-block;
  background-size: cover; */
  position: absolute;
  opacity: 0;
  z-index: 1;
}

#demoIconLink:hover {
  transform:  scale(1.3);
  opacity: 1;
  padding: 5px;

}

.regularCardImgContainer{
  display: flex;
  flex-direction: row;
  justify-content: center; /* Effects vertical aligment */
  align-items: center; /* Effects horizantal aligment */

}

#androidImgContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Effects horizantal aligment */
  align-items: center; /* Effects vertical aligment */

}

#cardAndroidImg{
  position: relative;
  height: 340px;
  margin-left: 10px;
}

#androidCard:hover .matrixCanvas { /*  Android Card: MatrixRain settings after hover */
  opacity: 1;
  z-index: 4;
  height: 100%;
  width: 100%;
  padding: 5px 0px 14px 10px;
  margin: 0;
  border-radius: 25px;
}


.matrixCanvas{
  padding:var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  border-radius: 25px;
  height: 240px;
  width:100%;
}

#regulaerCardImg {
  padding:var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  border-radius: 25px;
  height: 240px;
}

.card-footer{
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


/* Phone settigns*/
@media (max-width: 450px) {


  .card{
    background-color: rgb(35, 35, 37);
    color: white;
    border-radius: 7%;
    width: 90%;
    height: 50vh;
    margin: auto;
    
  }

  #cardAndroidImg{
    height: 35vh;

    justify-items: center;
  }

  #regulaerCardImg {
    height: 220px;
  }

  .card-body {
    display: grid;
    text-align: center;
  }

  #androidImgContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Effects horizantal aligment */
    align-items: center; /* Effects vertical aligment */
  
  }
  
  #cardAndroidImg{
    position: relative;
    height: 35vh;
    justify-items: center;
    margin: 0;
  }
  
  #androidCard:hover .matrixCanvas { /*  Android Card: MatrixRain settings after hover */
    opacity: 1;
    z-index: 4;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 25px;
  }

}
