
#androidRow{
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 40vh;
}

.card{
  background-color: rgb(35, 35, 37);
  color: white;
  border-radius: 7%;
  width: 330px;
  display: flex;
  margin: auto;
  transition: transform .2s;

}

.card:hover {
  transform: scale(1.1) /* 110% zoom*/


}

.card:hover #regulaerCardImg{ /* When the user hover the card we make the image darker and show github link for the project */
  opacity: 0;
}

.card:hover #githubIconLink{
  opacity: 1;
  z-index: 40;
  border: 40px rgb(35, 35, 37);

}



#githubIconLink{
  position: absolute;
  opacity: 0;
  z-index: 1;
}

#githubIconLink:hover{
  transform: scale(1.3);
  opacity: 1;
}

.regularCardImgContainer{
  display: flex;
  flex-direction: row;
  justify-content: center; /* Effects vertical aligment */
  align-items: center; /* Effects horizantal aligment */

}

#cardAndroidImg{
  height: 340px;
}

.matrixCanvas{
  padding:var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  border-radius: 25px;
  height: 240px;
  width:100%;

}

#regulaerCardImg {
  padding:var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  border-radius: 25px;
  height: 240px;
}

.card-footer{
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  
}




/* Phone settigns*/
@media (max-width: 450px) {


  .card{
    background-color: rgb(35, 35, 37);
    color: white;
    border-radius: 7%;
    width: 90%;
    height: auto;
    margin: auto;
    
  }

  #cardAndroidImg{
    height: 35vh;

    justify-items: center;
  }

  #regulaerCardImg {
    height: 250px;
  }

  .card-body {
    display: grid;
    text-align: center;
  }

  #androidImgContainer{
    display: flex;

    justify-content: center;
    align-items: center;
  }

}
