@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: black;
  --darkTheme-color: rgb(35, 35, 37);
  --font-family-base: 'Space Grotesk', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  -ms-overflow-style: none !important; /* Hides the scrolls bars in Microsoft. */
  scrollbar-width: none !important; /*  Controls the width of the scrollbar in Firefox - hide it.  */
}

html {
  height: 100%; /* Ensure html covers full height */
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased; /* Makes the font edges slightly softer and less pixelated. */
  -moz-osx-font-smoothing: grayscale; /* Also make the font edges smoother, but specific for Firefox. */
  scroll-behavior: smooth;
  min-height: 100vh; /* Body covers at least the full viewport height */
  overflow-x: hidden; /* Even if we have an element that cause overflow in the horizontal, there scroll bar won't apear.*/
  position: relative; /* Keep only to be sure we dont need to use absolute in the body::before*/

}

/* Pseudo-element is used here to create a "virtual" first child of the body element
  that serves as a container for the background image. */
body::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("dark_background_50.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -10; /* Place background layer behind the body */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none !important;
}
