@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: black;
  --font-family-base: 'Space Grotesk', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family-base);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  background: url("dark_background.jpeg") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;

  /* background-color: var(--background-color); */
}

img {
  display: inline;
  vertical-align: middle;
}

